In [1]:
import pandas as pd
import numpy as np
# import io
import statsmodels.formula.api as smf
import scipy.stats as stats
import re

### 2 Сравнение моделей
#### (Вариант 1)

#### 2.3 cost equations

Для набора данных `Electricity` рассмотрим несколько моделей регрессии.

In [2]:
data_str = '''Observations           158       158       158       158      158       158   
R2                    0.982     0.992     0.511     0.678    0.992     0.683  
Adjusted R2           0.982     0.992     0.498     0.667    0.992     0.666  
Akaike Inf. Crit.    -39.855  -169.030   483.433   419.566  -165.985  422.654 
Bayesian Inf. Crit.  -21.479  -147.592   501.809   441.005  -135.359  453.280 
Residual Std. Error   0.209     0.138     1.093     0.890    0.138     0.891'''

In [3]:
data_str = re.findall(r'([-+]?\d+.\d+)',data_str)

In [4]:
data_str = np.reshape(data_str,(6,6))
data_str

array([['158', '158', '158', '158', '158', '158'],
       ['0.982', '0.992', '0.511', '0.678', '0.992', '0.683'],
       ['0.982', '0.992', '0.498', '0.667', '0.992', '0.666'],
       ['-39.855', '-169.030', '483.433', '419.566', '-165.985',
        '422.654'],
       ['-21.479', '-147.592', '501.809', '441.005', '-135.359',
        '453.280'],
       ['0.209', '0.138', '1.093', '0.890', '0.138', '0.891']],
      dtype='<U8')

In [5]:
rows = ['Observations', 'R2', 'Adj.R2', 'AIC', 'BIC', 'RSE' ]
columns = ['mod1', 'mod2', 'mod3', 'mod4', 'mod5', 'mod6'] 
df = pd.DataFrame(data_str, index=rows, columns=columns).astype(float)
df

                 mod1     mod2     mod3     mod4     mod5     mod6
Observations  158.000  158.000  158.000  158.000  158.000  158.000
R2              0.982    0.992    0.511    0.678    0.992    0.683
Adj.R2          0.982    0.992    0.498    0.667    0.992    0.666
AIC           -39.855 -169.030  483.433  419.566 -165.985  422.654
BIC           -21.479 -147.592  501.809  441.005 -135.359  453.280
RSE             0.209    0.138    1.093    0.890    0.138    0.891

In [6]:
df.loc['Adj.R2'].idxmax()
df_res = pd.DataFrame(columns=['Метод', 'Регрессия'])
df_res.loc[0] = ['Adj.R2', df.loc['Adj.R2'].idxmax()]
df_res.loc[1] = ['AIC', df.loc['AIC'].idxmin()]
df_res.loc[2] = ['BIC', df.loc['BIC'].idxmin()]
df_res

    Метод Регрессия
0  Adj.R2      mod2
1     AIC      mod2
2     BIC      mod2