# Homework
## List 7
### Задача 2

In [1]:
import numpy as np
import re

In [2]:
data_string = '''totwrk                       -0.167***         
                              (0.018)          
                                               
age                           -6.255           
                             (11.191)          
                                               
I(age2)                        0.109           
                              (0.134)          
                                               
south                       114.547***         
                             (40.637)          
                                               
male                         90.457***         
                             (34.257)          
                                               
Constant                    3613.995***        
                             (218.433)         '''
data_string

'totwrk                       -0.167***         \n                              (0.018)          \n                                               \nage                           -6.255           \n                             (11.191)          \n                                               \nI(age2)                        0.109           \n                              (0.134)          \n                                               \nsouth                       114.547***         \n                             (40.637)          \n                                               \nmale                         90.457***         \n                             (34.257)          \n                                               \nConstant                    3613.995***        \n                             (218.433)         '

In [48]:
# Выделим числа из строки с помощью регулярных выражений
#(необходимо выделить подстроку, удовлетворяющая определенному шаблону символов)
digital_date = re.findall(r'([-+]?\d+.\d+)',data_string)
digital_date

['0.021',
 '0.004',
 '0.008',
 '0.001',
 '-0.099',
 '0.027',
 '0.201',
 '0.040',
 '0.175',
 '0.028',
 '4.974',
 '0.165']

In [4]:
beta = np.reshape(data_num,(6,2))
beta

array([['-0.167', '0.018'],
       ['-6.255', '11.191'],
       ['0.109', '0.134'],
       ['114.547', '40.637'],
       ['90.457', '34.257'],
       ['3613.995', '218.433']], dtype='<U8')

In [5]:
beta[:,0]

array(['-0.167', '-6.255', '0.109', '114.547', '90.457', '3613.995'],
      dtype='<U8')

In [15]:
# ppl_string --- переменная, которая содержит изначальную строку данных
ppl_string = '''totwrk age south male
-----------------------
1  2160  32    1    0  
2  1720  24    0    1  
3  2390  44    0    1   '''

In [16]:
ppl_lst = re.findall(r'([-+]?\d+)', ppl_string)
ppl_lst

['1',
 '2160',
 '32',
 '1',
 '0',
 '2',
 '1720',
 '24',
 '0',
 '1',
 '3',
 '2390',
 '44',
 '0',
 '1']

In [33]:
X = np.reshape(ppl_lst,(3,5))
X

array([['1', '2160', '32', '1', '0'],
       ['2', '1720', '24', '0', '1'],
       ['3', '2390', '44', '0', '1']], dtype='<U4')

In [34]:
X = np.delete(X,0,1)
X

array([['2160', '32', '1', '0'],
       ['1720', '24', '0', '1'],
       ['2390', '44', '0', '1']], dtype='<U4')

In [35]:
X = np.c_[X,np.ones(3)]
X

array([['2160', '32', '1', '0', '1.0'],
       ['1720', '24', '0', '1', '1.0'],
       ['2390', '44', '0', '1', '1.0']], dtype='<U32')

In [36]:
X.shape

(3, 5)

In [37]:
beta.shape

(6, 2)

In [38]:
beta = beta.astype(float)
X = X.astype(float).round(3)
X

array([[2.16e+03, 3.20e+01, 1.00e+00, 0.00e+00, 1.00e+00],
       [1.72e+03, 2.40e+01, 0.00e+00, 1.00e+00, 1.00e+00],
       [2.39e+03, 4.40e+01, 0.00e+00, 1.00e+00, 1.00e+00]])

In [49]:
beta

array([['0.021', '0.004'],
       ['0.008', '0.001'],
       ['-0.099', '0.027'],
       ['0.201', '0.040'],
       ['0.175', '0.028'],
       ['4.974', '0.165']], dtype='<U6')

In [51]:
X

array([[2.16e+03, 3.20e+01, 1.00e+00, 0.00e+00, 1.00e+00],
       [1.72e+03, 2.40e+01, 0.00e+00, 1.00e+00, 1.00e+00],
       [2.39e+03, 4.40e+01, 0.00e+00, 1.00e+00, 1.00e+00]])

In [54]:
X@beta[:,0]

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 6 is different from 5)

### Задача 3

In [40]:
data_string = '''age                          0.021***          
                              (0.004)          
                                               
IQ                           0.008***          
                              (0.001)          
                                               
south                        -0.099***         
                              (0.027)          
                                               
married                      0.201***          
                              (0.040)          
                                               
urban                        0.175***          
                              (0.028)          
                                               
Constant                     4.974***          
                              (0.165) '''
data_string

'age                          0.021***          \n                              (0.004)          \n                                               \nIQ                           0.008***          \n                              (0.001)          \n                                               \nsouth                        -0.099***         \n                              (0.027)          \n                                               \nmarried                      0.201***          \n                              (0.040)          \n                                               \nurban                        0.175***          \n                              (0.028)          \n                                               \nConstant                     4.974***          \n                              (0.165) '

In [41]:
data_num = re.findall(r'([-+]?\d+.\d+)',data_string)
data_num

['0.021',
 '0.004',
 '0.008',
 '0.001',
 '-0.099',
 '0.027',
 '0.201',
 '0.040',
 '0.175',
 '0.028',
 '4.974',
 '0.165']

In [55]:
digital_date = re.findall(r'([-+]?\d+.\d+)',data_string)
digital_date

['0.021',
 '0.004',
 '0.008',
 '0.001',
 '-0.099',
 '0.027',
 '0.201',
 '0.040',
 '0.175',
 '0.028',
 '4.974',
 '0.165']

In [56]:
beta = np.reshape(digital_date,(6,2))
beta

array([['0.021', '0.004'],
       ['0.008', '0.001'],
       ['-0.099', '0.027'],
       ['0.201', '0.040'],
       ['0.175', '0.028'],
       ['4.974', '0.165']], dtype='<U6')

In [45]:
# ppl_string --- переменная, которая содержит изначальную строку данных
ppl_string = '''age IQ  south married urban
-----------------------------
1 36  105   1      1      1  
2 29  123   0      1      0  
3 25  112   1      0      1 '''

In [57]:
ppl_lst = re.findall(r'([-+]?\d+)', ppl_string)
ppl_lst

['1',
 '36',
 '105',
 '1',
 '1',
 '1',
 '2',
 '29',
 '123',
 '0',
 '1',
 '0',
 '3',
 '25',
 '112',
 '1',
 '0',
 '1']

In [58]:
ppl_numb = np.reshape(ppl_lst,(3,6))
ppl_numb

array([['1', '36', '105', '1', '1', '1'],
       ['2', '29', '123', '0', '1', '0'],
       ['3', '25', '112', '1', '0', '1']], dtype='<U3')

In [59]:
ppl_numb = np.delete(ppl_numb,0,1)
ppl_numb

array([['36', '105', '1', '1', '1'],
       ['29', '123', '0', '1', '0'],
       ['25', '112', '1', '0', '1']], dtype='<U3')

In [60]:
ppl_numb = np.c_[ppl_numb,np.ones(3)]
ppl_numb

array([['36', '105', '1', '1', '1', '1.0'],
       ['29', '123', '0', '1', '0', '1.0'],
       ['25', '112', '1', '0', '1', '1.0']], dtype='<U32')

In [61]:
beta = beta.astype(float)
ppl_numb = ppl_numb.astype(float)

In [62]:
beta

array([[ 2.100e-02,  4.000e-03],
       [ 8.000e-03,  1.000e-03],
       [-9.900e-02,  2.700e-02],
       [ 2.010e-01,  4.000e-02],
       [ 1.750e-01,  2.800e-02],
       [ 4.974e+00,  1.650e-01]])

In [63]:
ppl_numb

array([[ 36., 105.,   1.,   1.,   1.,   1.],
       [ 29., 123.,   0.,   1.,   0.,   1.],
       [ 25., 112.,   1.,   0.,   1.,   1.]])

In [64]:
ppl_numb@beta[:,0]

array([6.847, 6.768, 6.471])

### Задача 4

In [66]:
data_string = '''exper                        0.037***          
                              (0.006)          
                                               
I(exper2)                    -0.001***         
                             (0.0001)          
                                               
female                       -0.363***         
                              (0.040)          
                                               
married                      0.144***          
                              (0.045)          
                                               
smsa                         0.273***          
                              (0.044)          
                                               
Constant                     1.250***          
                              (0.061)'''
data_string

'exper                        0.037***          \n                              (0.006)          \n                                               \nI(exper2)                    -0.001***         \n                             (0.0001)          \n                                               \nfemale                       -0.363***         \n                              (0.040)          \n                                               \nmarried                      0.144***          \n                              (0.045)          \n                                               \nsmsa                         0.273***          \n                              (0.044)          \n                                               \nConstant                     1.250***          \n                              (0.061)'

In [67]:
# Выделим числа из строки с помощью регулярных выражений
#(необходимо выделить подстроку, удовлетворяющая определенному шаблону символов)
digital_date = re.findall(r'([-+]?\d+.\d+)',data_string)
digital_date

['0.037',
 '0.006',
 '-0.001',
 '0.0001',
 '-0.363',
 '0.040',
 '0.144',
 '0.045',
 '0.273',
 '0.044',
 '1.250',
 '0.061']

In [68]:
beta = np.reshape(digital_date,(6,2))
beta

array([['0.037', '0.006'],
       ['-0.001', '0.0001'],
       ['-0.363', '0.040'],
       ['0.144', '0.045'],
       ['0.273', '0.044'],
       ['1.250', '0.061']], dtype='<U6')

In [69]:
ppl_string = '''exper female married smsa
---------------------------
1   5     1       1     1  
2  26     0       0     1  
3  38     1       1     0'''

In [70]:
ppl_lst = re.findall(r'([-+]?\d+)', ppl_string)
ppl_lst

['1', '5', '1', '1', '1', '2', '26', '0', '0', '1', '3', '38', '1', '1', '0']

In [71]:
ppl_numb = np.reshape(ppl_lst,(3,5))
ppl_numb

array([['1', '5', '1', '1', '1'],
       ['2', '26', '0', '0', '1'],
       ['3', '38', '1', '1', '0']], dtype='<U2')

In [72]:
ppl_numb = np.delete(ppl_numb,0,1)
ppl_numb

array([['5', '1', '1', '1'],
       ['26', '0', '0', '1'],
       ['38', '1', '1', '0']], dtype='<U2')

In [73]:
ppl_numb = np.c_[ppl_numb,np.ones(3)]
ppl_numb

array([['5', '1', '1', '1', '1.0'],
       ['26', '0', '0', '1', '1.0'],
       ['38', '1', '1', '0', '1.0']], dtype='<U32')

In [74]:
ppl_numb = np.c_[ppl_numb,np.ones(3)]
ppl_numb

array([['5', '1', '1', '1', '1.0', '1.0'],
       ['26', '0', '0', '1', '1.0', '1.0'],
       ['38', '1', '1', '0', '1.0', '1.0']], dtype='<U32')

In [75]:
beta = beta.astype(float)
ppl_numb = ppl_numb.astype(float)

In [76]:
beta

array([[ 3.70e-02,  6.00e-03],
       [-1.00e-03,  1.00e-04],
       [-3.63e-01,  4.00e-02],
       [ 1.44e-01,  4.50e-02],
       [ 2.73e-01,  4.40e-02],
       [ 1.25e+00,  6.10e-02]])

In [77]:
ppl_numb

array([[ 5.,  1.,  1.,  1.,  1.,  1.],
       [26.,  0.,  0.,  1.,  1.,  1.],
       [38.,  1.,  1.,  0.,  1.,  1.]])

In [78]:
ppl_numb@beta[:,0]

array([1.488, 2.629, 2.565])

### Задача 5

In [79]:
data_string = '''log(capital)                 0.208***          
                              (0.017)          
                                               
log(labour)                  0.715***          
                              (0.023)          
                                               
Constant                     -1.711***         
                              (0.097)'''
data_string

'log(capital)                 0.208***          \n                              (0.017)          \n                                               \nlog(labour)                  0.715***          \n                              (0.023)          \n                                               \nConstant                     -1.711***         \n                              (0.097)'

In [80]:
# Выделим числа из строки с помощью регулярных выражений
#(необходимо выделить подстроку, удовлетворяющая определенному шаблону символов)
digital_date = re.findall(r'([-+]?\d+.\d+)',data_string)
digital_date

['0.208', '0.017', '0.715', '0.023', '-1.711', '0.097']

In [81]:
beta = np.reshape(digital_date,(3,2))
beta

array([['0.208', '0.017'],
       ['0.715', '0.023'],
       ['-1.711', '0.097']], dtype='<U6')

In [82]:
beta[:,0]

array(['0.208', '0.715', '-1.711'], dtype='<U6')

In [83]:
ppl_string = '''capital labour
----------------
1  2.970    85  
2 10.450    60  
3  3.850   105'''

In [84]:
ppl_lst = re.findall(r'([-+]?\d+.\d+|[-+]?\d+)',ppl_string)

In [85]:
ppl_numb = np.reshape(ppl_lst,(3,3))
ppl_numb

array([['1', '2.970', '85'],
       ['2 10', '450', '60'],
       ['3', '3.850', '105']], dtype='<U5')

In [86]:
ppl_numb = np.delete(ppl_numb,0,1)
ppl_numb

array([['2.970', '85'],
       ['450', '60'],
       ['3.850', '105']], dtype='<U5')

In [87]:
ppl_numb = np.c_[ppl_numb,np.ones(3)]
ppl_numb

array([['2.970', '85', '1.0'],
       ['450', '60', '1.0'],
       ['3.850', '105', '1.0']], dtype='<U32')

In [88]:
beta = beta.astype(float)
ppl_numb = ppl_numb.astype(float)

In [89]:
beta

array([[ 0.208,  0.017],
       [ 0.715,  0.023],
       [-1.711,  0.097]])

In [90]:
ppl_numb

array([[  2.97,  85.  ,   1.  ],
       [450.  ,  60.  ,   1.  ],
       [  3.85, 105.  ,   1.  ]])

In [91]:
ppl_numb@beta[:,0]

array([ 59.68176, 134.789  ,  74.1648 ])

### Задача 7

In [93]:
data_string = '''log(capital)                 0.183***          
                              (0.017)          
                                               
log(labour)                  0.515***          
                              (0.083)          
                                               
I(log(capital)2)             0.023***          
                              (0.005)          
                                               
I(log(labour)2)               0.020**          
                              (0.010)          
                                               
Constant                     -1.304***         
                              (0.189)'''
data_string

'log(capital)                 0.183***          \n                              (0.017)          \n                                               \nlog(labour)                  0.515***          \n                              (0.083)          \n                                               \nI(log(capital)2)             0.023***          \n                              (0.005)          \n                                               \nI(log(labour)2)               0.020**          \n                              (0.010)          \n                                               \nConstant                     -1.304***         \n                              (0.189)'

In [94]:
# Выделим числа из строки с помощью регулярных выражений
#(необходимо выделить подстроку, удовлетворяющая определенному шаблону символов)
digital_date = re.findall(r'([-+]?\d+.\d+)',data_string)
digital_date

['0.183',
 '0.017',
 '0.515',
 '0.083',
 '0.023',
 '0.005',
 '0.020',
 '0.010',
 '-1.304',
 '0.189']

In [95]:
beta = np.reshape(digital_date,(5,2))
beta

array([['0.183', '0.017'],
       ['0.515', '0.083'],
       ['0.023', '0.005'],
       ['0.020', '0.010'],
       ['-1.304', '0.189']], dtype='<U6')

In [96]:
beta[:,0]

array(['0.183', '0.515', '0.023', '0.020', '-1.304'], dtype='<U6')

In [97]:
ppl_string = '''capital labour
----------------
1 22.140   407  
2  7.320   197  
3  0.670    31 '''

In [98]:
ppl_lst = re.findall(r'([-+]?\d+)', ppl_string)
ppl_lst

['1', '22', '140', '407', '2', '7', '320', '197', '3', '0', '670', '31']

In [102]:
ppl_numb = np.reshape(ppl_lst,(3,2))
ppl_numb

ValueError: cannot reshape array of size 12 into shape (3,2)

## Лист 8

### Задача 2.1

In [103]:
import pandas as pd
import numpy as np
import statsmodels.api as sm 
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_params # вывод результатов тестирования
from statsmodels.iolib.summary2 import summary_col # вывод результатов тестирования
from statsmodels.stats.outliers_influence import variance_inflation_factor # VIF
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [107]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df['age_2']=df['age']*df['age']
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,age_2
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,3438,0,14,0,13,7.070004,1024,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,5020,0,11,0,0,1.429999,961,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,2815,0,21,0,0,20.529997,1936,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,3786,0,12,0,12,9.619998,900,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,2580,0,44,0,33,2.750000,4096,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,2026,0,27,0,18,NaN,2025,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,675,1,465,210,18,0,4,NaN,1156,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,1851,0,19,0,17,NaN,1369,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1961,1,1481,480,31,0,22,NaN,2916,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,2363,0,8,1,9,NaN,900,900

In [108]:
model = smf.ols(data = df , formula = 'sleep~totwrk +  age + +age_2+ smsa + male + south').fit()
model_1 = smf.ols(data = df , formula = 'age_2~totwrk +  age + smsa + male + south').fit()
model_2 = smf.ols(data = df , formula = 'male~totwrk+  age+age_2 + smsa  + south').fit()
model_3 = smf.ols(data = df , formula = 'age~totwrk+  age + smsa +male + south').fit()
model_1.params.round(3)

Intercept   -1552.146
totwrk         -0.019
age            83.036
smsa           -0.555
male            2.636
south          17.250
dtype: float64

In [109]:
model_1.rsquared

0.9847552819309748

In [110]:
VIF_1 = 1/(1 - model_1.rsquared.round(3))
VIF_1.round(2)

66.67

In [111]:
VIF_2 = 1/(1 - model_2.rsquared.round(3))
VIF_2.round(2)

1.17

In [112]:
VIF_3 = 1/(1 - model_3.rsquared.round(3))
VIF_3.round(2)

/var/folders/qd/xx805xcn5knc8hwt59c2tvdc0000gn/T/ipykernel_82317/3405113206.py:1: RuntimeWarning: divide by zero encountered in double_scalars
  VIF_3 = 1/(1 - model_3.rsquared.round(3))

inf

### Задача 2.2

In [113]:
import pandas as pd
import numpy as np
import statsmodels.api as sm 
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_params # вывод результатов тестирования
from statsmodels.iolib.summary2 import summary_col # вывод результатов тестирования
from statsmodels.stats.outliers_influence import variance_inflation_factor # VIF
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [114]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df['age_2']=df['age']*df['age']
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,age_2
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,3438,0,14,0,13,7.070004,1024,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,5020,0,11,0,0,1.429999,961,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,2815,0,21,0,0,20.529997,1936,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,3786,0,12,0,12,9.619998,900,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,2580,0,44,0,33,2.750000,4096,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,2026,0,27,0,18,NaN,2025,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,675,1,465,210,18,0,4,NaN,1156,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,1851,0,19,0,17,NaN,1369,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1961,1,1481,480,31,0,22,NaN,2916,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,2363,0,8,1,9,NaN,900,900

In [115]:
# Модель sleep на totwrk/100, totwrk^2/10000, age, smsa, male
Sleep_eq12 = smf.ols(formula = 'sleep~totwrk +  age + +age_2+ smsa + male + south', data = df).fit()

In [116]:
info_dict = {'No. Observations': lambda x: '{0:d}'.format(int(x.nobs)), 
             'Residual Std. Error': lambda x: "%#8.3f" % x.mse_resid**0.5,
             'F-statistic': lambda x: '{:.3f}'.format(x.fvalue), 
             'Prob (F-statistic)': lambda x: '{:.3f}'.format(x.f_pvalue)
             }
print(summary_col(Sleep_eq12, float_format='%.3f', stars=True, info_dict = info_dict))

===============================
                       sleep
-------------------------------
Intercept           3638.626***
                    (218.595)
totwrk              -0.168***
                    (0.018)
age                 -6.165
                    (11.176)
age_2               0.108
                    (0.134)
smsa                -56.699*
                    (32.931)
male                90.972***
                    (34.210)
south               97.640**
                    (41.752)
R-squared           0.131
R-squared Adj.      0.124
No. Observations    706
Residual Std. Error 415.975
F-statistic         17.615
Prob (F-statistic)  0.000
===============================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [117]:
df = summary_params(Sleep_eq12, alpha=0.1)
df['significance'] = df.apply(lambda x: 'Значим' if x['P>|t|']<0.1 else 'Незначим', axis=1)
df

,Coef.,Std.Err.,t,P>|t|,[0.05,0.95],significance
Intercept,3638.626269,218.595464,16.645479,1.181161e-52,3278.591570,3998.660968,Значим
totwrk,-0.168165,0.018113,-9.283974,2.018779e-19,-0.197998,-0.138331,Значим
age,-6.165070,11.175631,-0.551653,5.813624e-01,-24.571741,12.241601,Незначим
age_2,0.108344,0.133550,0.811266,4.174889e-01,-0.111617,0.328305,Незначим
smsa,-56.698990,32.931132,-1.721744,8.555826e-02,-110.937765,-2.460215,Значим
male,90.971527,34.210484,2.659171,8.012687e-03,34.625612,147.317441,Значим
south,97.639593,41.751613,2.338583,1.963799e-02,28.873165,166.406022,Значим

### Задание 3.1

In [118]:
import pandas as pd
import numpy as np
import statsmodels.api as sm 
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_params # вывод результатов тестирования
from statsmodels.iolib.summary2 import summary_col # вывод результатов тестирования
from statsmodels.stats.outliers_influence import variance_inflation_factor # VIF
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df['totwrk_south']=df['totwrk']*df['south']
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,totwrk_south
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,3438,0,14,0,13,7.070004,1024,0
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,5020,0,11,0,0,1.429999,961,5020
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,2815,0,21,0,0,20.529997,1936,0
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,3786,0,12,0,12,9.619998,900,0
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,2580,0,44,0,33,2.750000,4096,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,2026,0,27,0,18,NaN,2025,0
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,675,1,465,210,18,0,4,NaN,1156,0
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,1851,0,19,0,17,NaN,1369,0
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1961,1,1481,480,31,0,22,NaN,2916,1961
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,2363,0,8,1,9,NaN,900,2363

In [120]:
model = smf.ols(data = df , formula = 'sleep~totwrk + totwrk_south+  age + smsa + male + south').fit()
model_1 = smf.ols(data = df , formula = 'totwrk~totwrk_south +  age + smsa + male + south').fit()
model_2 = smf.ols(data = df , formula = 'south~totwrk+ totwrk_south+  age + smsa  + male').fit()
model_3 = smf.ols(data = df , formula = 'totwrk_south~totwrk+  age + smsa +male + south').fit()
model_1.params.round(3)

Intercept       1883.936
totwrk_south       0.862
age               -3.438
smsa             -46.641
male             645.996
south          -1780.732
dtype: float64

In [121]:
model_1.rsquared

0.2408992634093874

In [122]:
VIF_1 = 1/(1 - model_1.rsquared.round(3))
VIF_1.round(2)

1.32

In [123]:
VIF_2 = 1/(1 - model_2.rsquared.round(3))
VIF_2.round(2)

8.55

In [125]:
VIF_3 = 1/(1 - model_3.rsquared.round(3))
VIF_3.round(2)

8.77

### Задача 3.2

In [127]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df['totwrk_south']=df['totwrk']*df['south']
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,totwrk_south
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,3438,0,14,0,13,7.070004,1024,0
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,5020,0,11,0,0,1.429999,961,5020
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,2815,0,21,0,0,20.529997,1936,0
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,3786,0,12,0,12,9.619998,900,0
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,2580,0,44,0,33,2.750000,4096,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,2026,0,27,0,18,NaN,2025,0
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,675,1,465,210,18,0,4,NaN,1156,0
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,1851,0,19,0,17,NaN,1369,0
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1961,1,1481,480,31,0,22,NaN,2916,1961
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,2363,0,8,1,9,NaN,900,2363

In [128]:
# Модель sleep на totwrk/100, totwrk^2/10000, age, smsa, male
Sleep_eq12 = smf.ols(formula = 'sleep~totwrk +  age + totwrk_south+ smsa + male + south', data = df).fit()

In [129]:
info_dict = {'No. Observations': lambda x: '{0:d}'.format(int(x.nobs)), 
             'Residual Std. Error': lambda x: "%#8.3f" % x.mse_resid**0.5,
             'F-statistic': lambda x: '{:.3f}'.format(x.fvalue), 
             'Prob (F-statistic)': lambda x: '{:.3f}'.format(x.f_pvalue)
             }
print(summary_col(Sleep_eq12, float_format='%.3f', stars=True, info_dict = info_dict))

===============================
                       sleep
-------------------------------
Intercept           3484.252***
                    (70.188)
totwrk              -0.178***
                    (0.019)
age                 2.908**
                    (1.386)
totwrk_south        0.064
                    (0.050)
smsa                -56.929*
                    (32.909)
male                91.015***
                    (34.186)
south               -41.027
                    (118.036)
R-squared           0.133
R-squared Adj.      0.125
No. Observations    706
Residual Std. Error 415.690
F-statistic         17.799
Prob (F-statistic)  0.000
===============================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

In [130]:
df = summary_params(Sleep_eq12, alpha=0.05)
df['significance'] = df.apply(lambda x: 'Значим' if x['P>|t|']<0.05 else 'Незначим', axis=1)
df

,Coef.,Std.Err.,t,P>|t|,[0.025,0.975],significance
Intercept,3484.251830,70.188075,49.641649,2.396751e-231,3346.447119,3622.056540,Значим
totwrk,-0.178110,0.018965,-9.391382,8.193899e-20,-0.215346,-0.140875,Значим
age,2.908394,1.385722,2.098829,3.619016e-02,0.187717,5.629071,Значим
totwrk_south,0.063627,0.050001,1.272498,2.036193e-01,-0.034544,0.161798,Незначим
smsa,-56.929434,32.908726,-1.729919,8.408614e-02,-121.541227,7.682359,Незначим
male,91.015100,34.185730,2.662371,7.937669e-03,23.896084,158.134117,Значим
south,-41.026786,118.036491,-0.347577,7.282624e-01,-272.775332,190.721760,Незначим

### Задача 4.1

In [132]:
import pandas as pd
import numpy as np
import statsmodels.api as sm 
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_params # вывод результатов тестирования
from statsmodels.iolib.summary2 import summary_col # вывод результатов тестирования
from statsmodels.stats.outliers_influence import variance_inflation_factor # VIF
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [134]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage2.csv')
df['age_2']=df['age']*df['age']
df

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage,age_2
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091,961
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562,1369
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715384,1089
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973,1024
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502,1156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,520,40,79,28,16,6,1,30,1,1,1,0,0,1.0,11.0,NaN,6.253829,900
931,1202,40,102,32,13,10,3,31,1,0,1,1,7,7.0,8.0,6.0,7.091742,961
932,538,45,77,22,12,12,10,28,1,1,1,0,9,NaN,7.0,NaN,6.287858,784
933,873,44,109,25,12,12,12,28,1,0,1,0,1,1.0,NaN,11.0,6.771935,784
934,1000,40,107,32,12,17,18,35,1,0,1,0,5,1.0,NaN,NaN,6.907755,1225

In [135]:
model = smf.ols(data = df , formula = 'np.log(wage)~age_2+  age + IQ+married + urban + south').fit()
model_1 = smf.ols(data = df , formula = 'age~ age_2+IQ+married + urban+ south').fit()
model_2 = smf.ols(data = df , formula = 'age_2~  age + IQ + urban+married + south').fit()
model_3 = smf.ols(data = df , formula = 'urban~age+age_2+ IQ + married + south').fit()
model_1.params.round(3)

Intercept    16.514
age_2         0.015
IQ           -0.000
married      -0.003
urban         0.014
south         0.010
dtype: float64

In [136]:
model_1.rsquared

0.9984198929582937

In [137]:
VIF_1 = 1/(1 - model_1.rsquared.round(3))
VIF_1.round(2)

500.0

In [138]:
VIF_2 = 1/(1 - model_2.rsquared.round(3))
VIF_2.round(2)

500.0

In [139]:
VIF_3 = 1/(1 - model_3.rsquared.round(3))
VIF_3.round(2)

1.02

### Задача 4.2

In [145]:
import pandas as pd
import numpy as np
import statsmodels.api as sm 
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_params # вывод результатов тестирования
from statsmodels.iolib.summary2 import summary_col # вывод результатов тестирования
from statsmodels.stats.outliers_influence import variance_inflation_factor # VIF
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [146]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage2.csv')
df['age_2']=df['age']*df['age']
df

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage,age_2
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091,961
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562,1369
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715384,1089
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973,1024
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502,1156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,520,40,79,28,16,6,1,30,1,1,1,0,0,1.0,11.0,NaN,6.253829,900
931,1202,40,102,32,13,10,3,31,1,0,1,1,7,7.0,8.0,6.0,7.091742,961
932,538,45,77,22,12,12,10,28,1,1,1,0,9,NaN,7.0,NaN,6.287858,784
933,873,44,109,25,12,12,12,28,1,0,1,0,1,1.0,NaN,11.0,6.771935,784
934,1000,40,107,32,12,17,18,35,1,0,1,0,5,1.0,NaN,NaN,6.907755,1225

In [147]:
wage_eq12 = smf.ols(formula = 'np.log(wage)~age_2+  age + IQ+married + urban + south', data = df)

In [149]:
info_dict = {'No. Observations': lambda x: '{0:d}'.format(int(x.nobs)), 
             'Residual Std. Error': lambda x: "%#8.3f" % x.mse_resid**0.5,
             'F-statistic': lambda x: '{:.3f}'.format(x.fvalue), 
             'Prob (F-statistic)': lambda x: '{:.3f}'.format(x.f_pvalue)}
print(summary_col(wage_eq12, float_format='%.3f', stars=True, info_dict = info_dict))

AttributeError: 'OLS' object has no attribute 'params'